*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer/Edge */
    
}

body::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari, et Edge basé sur Chromium */
}



ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.H2title{
    font-family: var(--font1);
    font-size: var(--text3);
    color: var(--white);
}

.intropolice{
    font-family: var(--font2);
    font-size: var(--text8);
}

.introtxt1{
    color: var(--red);
}

.introtxt2{
    color: var(--white);
}
.introtxt3{
    text-decoration: underline;
    color: var(--white);
}

.articletitle{
    font-family: var(--font2);
    font-size: var(--text9);
}

.contenutextuel{
    font-family: var(--font3);
    font-size: var(--text6);
}

.figcaptionimg1{
    font-family: var(--font2);
    font-size: var(--text8);
    color: var(--beige);
}

.figcaptionimg2{
    font-family: var(--font2);
    font-size: var(--text8);
}

.white{
    color: var(--white);
}

.beige{
    color: var(--beige);
}


button, input[type="button"], input[type="submit"] {
    appearance: none; /* Désactive le style par défaut du navigateur */
    border: none; /* Supprime le bord */
    background-color: transparent; /* Fond transparent */
    padding: 0; /* Pas de rembourrage */
    margin: 0; /* Pas de marge */
    font-family: inherit; /* Utilise la police de caractères par défaut du navigateur */
    font-size: inherit; /* Taille de police par défaut */
    cursor: pointer; /* Curseur en pointer pour indiquer que c'est interactif */
    /* Autres styles personnalisés si nécessaire */
}