*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer/Edge */
    
}

body::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari, et Edge basé sur Chromium */
}



ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.H2title{
    font-family: var(--font1);
    font-size: var(--text4);
    color: var(--white);
    position: relative;
     text-align: center;
    margin-top: 80px;
}

.intropolice{
    font-family: var(--font2);
    font-size: var(--text8);
}

.policeprojects{
    font-family: var(--font2);
    font-size: var(--text8);
    color: var(--white);
    max-width: 100%;
}

.introtxt1{
    color: var(--red);
}

.introtxt2{
    color: var(--white);
}
.introtxt3{
    text-decoration: underline;
    color: var(--white);
}

.articletitle{
    font-family: var(--font2);
    font-size: var(--text9);
}

.contenutextuel{
    font-family: var(--font3);
    font-size: var(--text6);
}

.contenutextuel1{
    font-family: var(--font3);
    font-size: var(--text6);
    color: var(--white);
}

.frisetititle{
    font-family: var(--font2);
    font-size: var(--text5);
    color: var(--white);
}

.frisesubtitle{
    font-family: var(--font1);
    font-size: var(--text4);
    color: var(--beige);
}

.fontfrise{
    font-family: var(--font2);
    font-size: var(--text8);
    color: var(--white);
}

.figcaptionimg1{
    font-family: var(--font2);
    font-size: var(--text8);
    color: var(--beige);
    text-align: right;
}

.figcaptionimg2{
    font-family: var(--font2);
    font-size: var(--text5);
}

.figcaptionimg3{
    font-family: var(--font2);
    font-size: var(--text8);
    color: var(--beige);
    text-align: left;
}

.figcaptionimg4{
    font-family: var(--font2);
    font-size: var(--text8);
    text-align: right;
}

.white{
    color: var(--white);
}

.beige{
    color: var(--beige);
}

.menu_link{
    font-family: var(--font1);
    font-size: var(--text1);
}

button, input[type="button"], input[type="submit"] {
    appearance: none; 
    border: none; 
    background-color: transparent; 
    padding: 0; 
    margin: 0; 
    font-family: inherit;
    font-size: inherit; 
    cursor: pointer; 
}