.footertitle{
    font-family: var(--font1);
    font-size: var(--text5);
    color: var(--white);
}

.subhead{
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.footerposition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}




