.introposition{
    margin-left: 20px;
    margin-right: 20px;
}

.mainposition{
    margin-left: 20px;
    margin-right: 20px;
}

.glossaire{
    margin-left: 20px;
    margin-right: 20px;
}


.autresprojets{
    left: 20px;
}

.apropos{
    margin-left: 20px;
    margin-right: 20px;
    z-index: 30;
}

