.articleintro{
    display: flex;
    text-align: center;
}

.articleimg1{
    height: 100%;
    width: 100%;
}

.articletitle{
    position: relative;
    transform: translateY(0px);
    line-height: 2rem;
    margin-left: 15px;
}

.contenutextuel{
    line-height: 25px;
    word-spacing: 1px;
}

.figcaptionimg4{
    text-align: right;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}



.textsize{
    margin-right: 20px;
}


.uptext{
    margin-top: 0px;
}

.uptext2{
    margin-top: 15px;
}