.projetslignes{
    display: flex;
    margin-bottom: 30px; 
    justify-content: space-evenly;
}

.projectimg{
    height: 165px;
    width: 100%;
}

.projet1{
    text-align: center;
  
    max-width: 50%;
    width: 165px;
}

.projet2{
    text-align: center;
 
    max-width: 50%;
    width: 165px;
}