.Titleposition{
    text-align: center;
    padding-bottom: 20px;
}



.frise {
    transform: translateX(50%);
    position: relative; 
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 70px;
    
}

.horiligneleft {
    
    position: absolute; 
    left: -180px;
    padding-top: 2px;  
    flex-direction: column;
}

.horiligneright {
    display: flex;
    position: relative; 
    left: 15px;
    flex-direction: column;
    padding-top: 24%;
    margin-bottom: -45px;
    
}


.imgfrise{
    position : absolute;
    left: 40%;  
    margin-top: 50px;
    
}


.moviefrise{
    display: flex;
    padding-bottom: 20%;
}


.taillevideo{
    height: 120px;
    width: 160px;
    border: 2px solid var(--white);
}

.vidleft{
    margin-left: -190px;
    margin-top: -80px;

}

.vidright{
    margin-top: -80px;
    margin-bottom: 200px;
    margin-left: 200px;
}